/* -----page styling----- */
@font-face {
    font-family: "lato";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "lato-bold";
    src: url("../fonts/Lato-Black.ttf") format("truetype");
}

:root {
    --main: #0A474D;
    --secondary: #2d82b7;
    --contast: #78cdd7;
}

h1, h2, h3, h4, h5, h6, label {
    font-family: "lato-bold";
    text-decoration: underline;
}

html, body {
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.btn {
    background-color: var(--contast);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--secondary);
    color: white;
}

#newNoteBtn, #newChecklistBtn {
    background-color: var(--main);
    color: white;
}

#newNoteBtn:hover, #newChecklistBtn:hover {
    color: black;
    background-color: var(--contast);
}

/* -----Inside page styling----- */
#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-family: "lato";
    color: white;
}

/* -----Left Column styling------ */

/* -----General styling----- */
#leftSide {
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 3fr;
    border: 1px solid black;
    background-color: var(--main);
    padding: 0 1rem;
    height: 100vh;
}

#topLeftSide {
    grid-row: 1;
    border-bottom: 2px solid var(--secondary);
}

#bottomLeftSide {
    grid-row: 2;
    overflow: auto;
    display: grid;
    grid-template-rows: repeat(auto-fit, 2fr);
    /* border: 1px solid black; */
}

/* -----Title, create task button styling----- */

#title {
    font-size: clamp(3rem, 10vw, 8rem);
    text-decoration: underline;
    margin: 0;
    font-family: "lato-bold";
}

#newTaskBtn {
    background-color: var(--contast);
    width: 12rem;
    height: clamp(2.5rem, 5rem, 7.5rem);
    border-radius: 4rem;
    border: 0;
    font-size: 1.5rem;
    margin: 1.8rem 0;
    color: black;
}

#newTaskBtn:hover {
    background-color: var(--secondary);
    color: white;
    cursor: pointer;
}

/* -----Task styling----- */

.task {
    margin-top: 1.5rem;
    border: 2px solid var(--secondary);
    border-radius: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    font-family: "lato-bold";
    height: 5rem;
    cursor: pointer;
}

.task:hover {
    background-color: var(--secondary);
}

.taskName {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    text-wrap: nowrap;
}

.taskIcons {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.3rem;
}

.taskPriority {
    grid-column: 1;
}

.taskPriority:hover {
    opacity: 0.7;
}

.taskEdit {
    grid-column: 2;
    grid-column: 2;
    background-color: white;
}

.taskDelete {
    grid-column: 3;
    background-color: white;
}

.taskPriority, .taskEdit, .taskDelete {
    margin-right: 0.8rem;
    width: 3rem;
    display: flex;
    border-radius: 50%;
}

.taskEdit:hover, .taskDelete:hover {
    background-color: var(--secondary);
}

.taskPriority:hover, .taskEdit:hover, .taskDelete:hover {
    cursor: pointer;
}

.taskPriorityImg, .taskEditImg, .taskDeleteImg {
    width: 100%;
    height: 100%;
}

/* -----dialog styling----- */

label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

dialog[open] {
    height: 20rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    border: 5px solid var(--secondary);
    background-color: var(--main);
    color: white;
}

dialog[open]::backdrop {
    opacity: 0.7;
    background-color: black;
}

.dialogHeader {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-bottom: 1.25rem;
    font-size: 2.5rem;
    font-family: "lato-bold";
    text-decoration: underline;
    border-bottom: 3px solid var(--secondary);
}

.dialogForm {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 0 20%;
}

#dialogConfirmBtn, #editConfirmBtn, #dialogCancelBtn, #editCancelBtn {
    margin-top: 2.5rem;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
}

#dialogConfirmBtn {
    margin-right: 1.5rem;
}

.dialogCancelBtn {
    margin-left: 1.5rem;
}

/* -----right side styling----- */

#mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0.5rem 3rem;
    background-color: darkgrey; 
    color: black;
    height: 100vh;
    overflow: auto;
}

#rightSideOverlay {
    grid-column: 1, 2;
    position: relative;
    left: 90%;
    transform: translate(-50%, -50%);
    top: 90%;
    font-size: 3rem;
    text-decoration: underline;
    color: black;
}

#notesHeader, #checklistHeader {
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
}

#newChecklistBtn {
    width: 10rem;
    height: clamp(2.5rem, 3.5rem, 7.5rem);
    border-radius: 3rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#noteContainer, #checklistContainer {
    text-align: start;
    font-size: 1.25rem;
}

#leftHalf {
    grid-column: 1;
    grid-row: 1;
    background-color: white;
    padding-right: 1rem;
}

#note {
    width: 30vw;
    max-width: 30vw;
    height: 50vh;
    max-height: 80vh;
    text-wrap: wrap;
    padding-left: 0.25rem;
    padding-top: 0.25rem;
    font-family: "lato";
    font-size: 1.5rem;
    margin-top: 2rem;
}

#rightHalf {
    grid-column: 2;
    grid-row: 1;
    padding-left: 1rem;
}

