/* ----- THIS CSS IS FOR ALL PAGES (TEMPLATE CSS) -------- */
html, body {
    margin: 0;
    padding: 0;
    background-color: #FFDDD2;
    text-align: center;
}

nav {
    display: flex;
    margin: 2rem 0;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #D84727;
    padding-bottom: 2rem;
}

.navBtn {
    width: 10rem;
    height: 4rem;
    margin-left: 6rem;
    border-radius: 1.25rem;
    border: 0;
    font-size: 1.5rem;
    background-color: #006D77;
    color: #E29578;
}

.navBtn:hover {
    background-color: #E29578;
    color: #006D77;
    font-size: 1.75rem;
    cursor: pointer;
}

#navText {
    margin: 0;
    margin-left: auto;
    margin-right: 4rem;
    font-size: 6rem;
    margin-bottom: 1rem;
    color: #006D77;
    text-decoration: underline;
}

#navText:hover {
    cursor: pointer;
}



/* ------- Home Page CSS --------- */

.homeContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30rem;
    margin: 8rem 8rem;
    /* border: 1px solid #D84727; */
}

.homeInfo {
    color: #006D77;
    font-size: 2rem;
    grid-column: 2;
    border-left: 1px solid #D84727;
    align-self: center;
    padding: 0 0.5rem;
}

.restaurantImg {
    width: 700px;
    height: auto;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-self: center;
}

/* ------- Menu Page CSS --------- */

.menuContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
}

.menuItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid #006D77;
    margin: 1.5rem;
    height: 23rem;
    width: minmax(5rem, 10rem);
    overflow: hidden;
    text-align: center;
    padding-top: 1rem;
    padding-left: 0.5rem;
    font-size: 1.4rem;
    background-color: #E29578;
}

.menuItemImg, .menuItemSecondImg {
    grid-column: 2;
    width: clamp(2rem, 10rem, 15rem);
    height: 8rem;
    align-self: start;
    margin-left: 1rem;
    border: 1px solid #006D77;
    font-size: 0.8rem;
}

.menuItemImg {
    margin-top: 0rem;
}

.menuItemSecondImg {
    margin-top: -8rem;
}

/* ------- About Page CSS --------- */

.aboutContent {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
}

.aboutOne, .aboutTwo, .aboutThree {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1.5rem;
}

.aboutOne {
    grid-column: 1;
}

.aboutTwo {
    grid-column: 2;
    border-left: 1px solid #D84727;
}

.aboutThree {
    grid-column: 3;
    border-left: 1px solid #D84727;
}

#aboutImgOne, #aboutImgTwo, #aboutImgThree {
    justify-self: center;
}

#aboutTextOne, #aboutTextTwo, #aboutTextThree {
    grid-row: 2;
    margin-top: 1rem;
    font-size: 1.3rem;
}

.aboutImg {
    width: 450px;
    height: auto;
    padding: 0;
    margin: 0;
}


/* ----Contact Page CSS---- */

.contactContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: 30rem;
    margin: 8rem 8rem;
    /* border: 1px solid #D84727; */
}

.contactInfo {
    color: #006D77;
    font-size: 2rem;
    grid-column: 2;
    border-left: 1px solid #D84727;
    align-self: center;
    padding: 0 0.5rem;
    height: 20rem;
    text-align: center;
}

.contactImg {
    width: 700px;
    height: auto;
    margin: 0;
    padding: 0;
    grid-row: 1;
    /* vertical-align: top; */
    justify-self: center;
    align-self:center   ;
}
