html, body {
    margin: 0;
    padding: 0;
    background-color: #FFDDD2;
    text-align: center;
}

nav {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #D84727;
    padding-bottom: 2rem;
}

.navBtn {
    width: 10rem;
    height: 4rem;
    margin-left: 6rem;
    border-radius: 1.25rem;
    border: 0;
    font-size: 1.5rem;
    background-color: #006D77;
    color: #E29578;
}

.navBtn:hover {
    background-color: #E29578;
    color: #006D77;
    font-size: 1.75rem;
}

#navText {
    margin: 0;
    margin-left: auto;
    margin-right: 4rem;
    font-size: 6rem;
    margin-bottom: 1rem;
    color: #006D77;
    text-decoration: underline;
}