/* ----- THIS CSS IS FOR ALL PAGES (TEMPLATE CSS) -------- */
html, body {
    margin: 0;
    padding: 0;
    background-color: #FFDDD2;
    text-align: center;
}

nav {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #D84727;
    padding-bottom: 2rem;
}

.navBtn {
    width: 10rem;
    height: 4rem;
    margin-left: 6rem;
    border-radius: 1.25rem;
    border: 0;
    font-size: 1.5rem;
    background-color: #006D77;
    color: #E29578;
}

.navBtn:hover {
    background-color: #E29578;
    color: #006D77;
    font-size: 1.75rem;
    cursor: pointer;
}

#navText {
    margin: 0;
    margin-left: auto;
    margin-right: 4rem;
    font-size: 6rem;
    margin-bottom: 1rem;
    color: #006D77;
    text-decoration: underline;
}

#navText:hover {
    cursor: pointer;
}



/* ------- Home Page CSS --------- */

.homeContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30rem;
    margin: 8rem 8rem;
    /* border: 1px solid #D84727; */
}

.homeInfo {
    color: #006D77;
    font-size: 1.6rem;
    grid-column: 2;
    border-left: 1px solid #D84727;
    align-self: center;
    padding: 0 0.5rem;
}

.restaurantImg {
    width: 700px;
    height: auto;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-self: center;
}

/* ------- Menu Page CSS --------- */

.menuContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
}

.menuItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid #006D77;
    margin: 1rem 2rem;
    height: 25rem;
    width: minmax(5rem, 10rem);
    overflow: hidden;
    text-align: start;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.4rem;
}

.menuItemImg, .menuItemSecondImg {
    grid-column: 2;
    padding-top: 0;
    width: clamp(2rem, 10rem, 15rem);
    height: 10rem;
    align-self: start;
    margin-left: 1rem;
    border: 1px solid #006D77;
    font-size: 0.8rem;
}