<html>
    <head>
        <title>
            Login Page
        </title>

        <body>
            <form action="/" method="post">
                <label for="username">Username: </label>
                <input type="text" name="username" id="username">

                <label for="password">Password: </label>
                <input type="text" name="password" id="password">

                <button type="submit"> Login </button>
            </form>
        </body>
    </head>
</html>