<html>
    <head>
        Find users page
        <br>
        <a href="/create">Create Username</a> <a href="/search">Search Page</a> <a href="/">Index Page</a>
        <br>
        <br>
    </head>
    <body>
        List of users that match your search (case sensitive):
        <br>
        <%= users %>
        <br>
        <br>
    </body>
</html>