<html>
    <head>
        <%= title %><a href="/create">Create Username</a>
                    <a href="/search">Search Page</a> 
                    <a href="/delete">Delete All Users</a>
        <br>
        <br>
    </head>
    <body>
        List of users:
        <br>
        <%= users %>
        <br>
        <br>
    </body>
</html>