<html>
    <head>
        Search Page
    </head>
    <body>
        <form action="/findUsers" method="GET">
            <label for="searchBox">Search: </label>
            <input type="text" name="searchBox" id="searchBoxInput">
            <button type="submit">Search</button>
        </form>
    </body>
</html>