html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: monospace;
  background-color: #D1D8BE;
}

.pageWrapper {
  height: 90%;
  margin: 0.25vh 25vw;
  background-color: #D9A299;
  border: thin solid black;
}

