html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: monospace;
  background-color: #D1D8BE;  
}

.pageWrapper {
  height: 88%;
  margin: 0vh 25vw;
  padding: 0.25rem 0.5rem;
  border: 3px solid #76c2b291;
  border-radius: 6px;
}

