<html>
    <head>
        <title>
            404 - Error Page
        </title>
        <body>
            <%- include("./header.ejs"); %>

            <br>
            
            404 - Page Not Found
        </body>
    </head>
</html>