<html>
    <head>
        <title>
            Home
        </title>
    </head>
    <body>
        <% if (currentUser) { %>
            Hello <%= currentUser.username %>
        <% } %>
    </body>
</html>