<html>
    <head>
        <title>Home</title>
    </head> 
    <body>
        <%- include ("./header.ejs") %>

        <h1>Your Folders</h1>
        <a href="/createFolder">Create a Folder</a>

        <% if (folders) { %>
            <% for (let i = 0; i < folders.length; i++) { %>
                <br> <br>
                    <a href="/<%= folders[i].folder_name %>"> <%= folders[i].folder_name %> </a>
            <% } %>
        <% }; %>
    </body>
</html>