<html>
    <head>
        <title>
            Share Page
        </title>
    </head>
    <body>
        <%- include("./header.ejs") %>

        <br>

        <h2><u>Share your file</u></h2>

        Link: <%= link %>
        
    </body>
</html>