<html>
    <head>
        <title>
            Sign Up
        </title>
    </head>
    <body>

        <% if (errors) { %>
            <% errors.forEach(error => { %>
                <ul>
                    <%= error.msg %>
                </ul>
             <%}); %>
        <% } %>

        <form action="/signUpPost" method="post">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" required>

            <br><br>

            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required>

            <br><br>

            <label for="passwordConfirm">Confirm Password: </label>
            <input type="password" name="passwordConfirm" id="passwordConfirm" required>

            <br><br>

            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>