<html>
    <head>
        <title>
            Your folder
        </title>
        <body>
            <%- include ("./header.ejs") %>
            <br>
            <br>
            <% if (files) { %>
                <% files.forEach(file => { %>
                    Name: <%= file.title %> <br>
                    Link: <a href="<%= file.link %>"> <%= file.link %> (placeholder for now) </a> <br>
                <% }) %>
            <% } %>
        </body>
    </head>
</html>