<html>
    <head>
        <title>
            Your folder
        </title>
        <body>
            <%- include ("./header.ejs") %>
            <br>
            <br>
            <% if (files) { %>
                <% files.forEach(file => { %>
                    <%= file %>
                <% }) %>
            <% } %>
            view folder
        </body>
    </head>
</html>