body {
    background-color: black;
}

.container {
    /* border: thick solid teal; */
    display: flex;
    flex: 1;
    width: 597px;
    height: 750px;
    margin: 20px auto;
    text-align: center;
    color: skyblue;
    /* background-color: brown; */
    
}

.calculator {
    /* border: thick solid orange; */
    max-height: 100%;
    max-width: 100%;
}

#answerBox {
    border: thick solid skyblue;
    height: 15%;
    display: flex;
    text-align: center;
    justify-content: end;
    align-items: end;
    font-size: 80px;
}

.keypad {
    border:thick solid skyblue;
    max-height: 80%;
    
}

#nums {
    /* border: thick solid green; */
    height: 100%;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.numbers {
    /* border: thin solid purple; */
    height: 10%;
    padding: 50px 50px;
    font-size: 30px;
    background-color: black;
}
.numbers:hover {
    background-color: navy;
}

#allClear {
    padding: 50px 102px;
    border-right: thin solid darkred;
}
#divideSign {
    padding: 50px 59px;
}
#subtractSign {
    padding: 50px 57px;
}