<html>
    <head><title>Form page</title></head>
    <body>
        <a href="http://localhost:3000">home page</a>
        
        <form method="POST" action="/new">
            Name: <input type="text" name="messageUser" id="formName">
            <br><br>
            Message: <input type="text" name="messageText" id="formMessage">
            <br><br>
            <button type="submit">Submit message</button>
        </form>
    </body>
</html>