<html>
    <head>
        <title>
            Categories Page
        </title>

        <body>
            <a href="/">Home page</a> <br>
            <a href="/edit">edit page</a>
            <br><br>
            <% data.forEach(row => { %>
                    <ul>
                        Animal Class: <%= row.animal_class %> <br>
                    </ul>
            <% }) %>
            
        </body>
    </head>
</html>