<html>
    <head>
        <title>
            Categories Page
        </title>

        <body>
            <a href="/">Home page</a> <br>
            <a href="/edit">edit page</a>
            <br><br>
            <%= data %>
            
        </body>
    </head>
</html>