<html>
    <head>
        <title>
            Edit Page
        </title>

        <body>
            <a href="/">Home page</a> <br>
            <a href="/categories">categories page</a>
            <br><br>
            <%= data %>
            <form action="/" method="post">
                <label for="animalClassInput">Animal Class: </label>
                <input type="text" name="animalClassInput" id="animalClassInput">
                <br> <br>

                <label for="animalSpeciesInput">Species: </label>
                <input type="text" name="animalSpeciesInput" id="animalSpeciesInput">
                <br><br>

                <label for="animalNativeToInput">Native To (continent): </label>
                <input type="text" name="animalNativeToInput" id="animalNativeToInput">
                <br><br>

                <label for="animalBreedInput">Breed: </label>
                <input type="text" name="animalBreedInput" id="animalBreedInput">
                <br><br>

                <button type="submit">Add Animal</button>
            </form>
            
        </body>
    </head>
</html>