<html>
    <head>
        <title>
            Create messages
        </title>
    </head>
    <body>
        <%- include ('./header.ejs'); %>

        <form action="/create" method="post">
            <strong><U><label for="messageInput">Type your message below</label></U></strong>
            <br> <br>
            <input type="text" name="messageInput" id="messageInput">
            <br><br>
            <button type="submit">Post message</button>
        </form>
    </body>
</html>