<html>
    <head>
        <title>
            Create messages
        </title>
    </head>
    <body>
        <h3>Links</h3>
        <a href="/sign-up">Sign up here!</a> <br>
        <a href="/login">Login here!</a> <br>
        <a href="/">go to home</a> <br>
        <a href="/view-my-messages">view your messages</a> <br>
        <br><br>

        this is create messages page
    </body>
</html>