<html>
    <head>

    </head>

    <body>
        <a href="/sign-up">Sign up here!</a>  |
        <a href="/login">Login here!</a>  | 
        <a href="/create">create a message</a> | 
        <a href="/view-my-messages">view your messages</a> | 

        <br><br>

        <% if (currentUser) { %>
            hi there <%= currentUser.username %>
            <a href="/logout">Log Out</a>
        <% } %>

        <br><br>
    </body>
</html>