<html>
    <head>
        <title>
            Login Page
        </title>
    </head>
    <body>
        <h3>Links</h3>
        <a href="/sign-up">Sign up here!</a> <br>
        <a href="/">Go to home</a> <br>
        <a href="/create">create a message</a> <br>
        <a href="/view-my-messages">view your messages</a> 
        <br>

        <br><br>

        <form action="/login" method="POST">
            <label for="username">Username: </label>
            <input type="text" name="username" id="usernameInput">
            <br>
            <label for="password">Password: </label>
            <input type="text" name="password" id="passwordInput">
            <br>
            <button type="submit">Login</button>
        </form>

    </body>
</html>