<html>
    <head>
        <title>
            Your messages
        </title>
    </head>
    <body>
        <h3>Links</h3>
        <a href="/sign-up">Sign up here!</a> <br>
        <a href="/login">Login here!</a> <br>
        <a href="/create">create a message</a> <br>
        <a href="/">Go to home</a> <br>
        <br><br>

        <% if (user) { %>
            <h2>Hello <%= user.username %></h2>
        <% } %>

        this is own messages page
    </body>
</html>