#wrapper {
    margin: 5rem 15rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    height: 100%;
}

.blog {
    border: thin solid white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogs:hover {
    background-color: darkslategray;
}