#root {
  text-align: center;
}

#wrapper {
  border: thin solid white;
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 1rem;
}

#cvForm {
  grid-column: 1;
}

#cvSection {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
}

#cvName {
  grid-row: 1;
  grid-column: 1 / 3;
}

button {
  margin-top: 5%;
}


